<p>Profile View: <%= @user.user_name %></p>

<p>Email: <%= @user.email %> </p>

<br/>

<% if @user.suspended_status? %>

	<p><%= @user.user_name %> is a jerk.</p>
	<a href="/adminviews/<%= @user.id %>/suspend">Forgive them.</a>

<% else %>

	<p><%= @user.user_name %> is cool.</p>
	<a href="/adminviews/<%= @user.id %>/suspend">Suspend them.</a>

<% end %>

<h3><%= link_to "Full User List", root_url + 'adminviews' %></h3>