<p>Profile View: <%= @user.user_name %></p>

<p>Email: <%= @user.email %> </p>

<br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

<h3><%= link_to "Full User List", root_url + 'adminviews' %></h3>