<% if current_admin.id == params[:admin_id].to_i %>

	<h3>Hello, <%= current_admin.email %></h3>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  	<%= devise_error_messages! %>

		<div class="field">
	    <p>New <%= f.label :password %></p>
	    <%= f.password_field :password, autocomplete: "off" %>
	    <% if @minimum_password_length %>
	      <br />
	      <em><%= @minimum_password_length %> characters minimum</em>
	    <% end %>
	  </div>

	  <div class="field">
	    <p>New <%= f.label :password_confirmation %></p>
	    <%= f.password_field :password_confirmation, autocomplete: "off" %>
	  </div>
	 <br />
	  <div class="field">
	    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /><br />
	    <%= f.password_field :current_password, autocomplete: "off" %>
	  </div>
	  <br />
	  <div class="actions">
	    <%= f.submit "Update" %>
	  </div>
  <% end %>

<% else %>

	<p>You do not have permission to view this page.</p>

<% end %>