<h2>Edit <%= resource_name.to_s.humanize %>: <%= current_admin.email %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true, autocomplete: "user name" %>
  </div>

   <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
  </div>

   <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :profile_photo %><br />
    <%= f.file_field :profile_photo, autofocus: true, autocomplete: "profile photo" %>
  </div>

   <div class="field">
    <%= f.label :interests %><br />
    <%= f.text_field :interests, placeholder: "e.g. coding, nonprofits", autofocus: true, autocomplete: "interests" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Change my password</h3>

  <p class="nav-item active"><%= link_to "Clicky", admin_passwordchange_path(:admin_id => @admin.id) %></p>

<h3>Close my account</h3>

<p>Click below to cancel your administrative account. Warning: this is irreversible! <%= button_to "Close Admin Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
