<% if user_signed_in? %>
    <% if current_user.suspended_status? %>

        <p>Your account is currently suspended. Please contact site administration if you need more information.</p>
        <p class="nav-item active"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></p>

    <% else %>

        <li><%= link_to current_user.email, edit_user_registration_path %></li>
        <li class="nav-item active"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>

    <% end %>

<% else %>
    <% if admin_signed_in? %>
        <% if current_admin.suspended_status? %>
         	<p>Your account is currently suspended. Please contact site administration if you need more information.</p>
         	<li class="nav-item active"><%= link_to 'Sign out', destroy_admin_session_path, :method => :delete %></li>
        <% else %>
            <li class="nav-item active"><%= link_to current_admin.email, edit_admin_registration_path %></li>
            <li class="nav-item active"><%= link_to 'Sign out', destroy_admin_session_path, :method => :delete %></li>
            <% if current_admin.super_admin? %>
                <li class="nav-item active"><%= link_to "Create New Admin Account", new_admin_registration_path %></li>
            <% end %>
            <a href="/adminportal/adminviews"><li class="nav-item active">Admin Portal</li></a>
        <% end %>
 	<% else %>
     	<li class="nav-item active"><%= link_to "Sign Up", new_user_registration_path %></li>
     	<li class="nav-item active"><%= link_to "Login", new_user_session_path %></li>
     	<li class="nav-item active"><%= link_to "Admin Portal", new_admin_session_path %></li>
 	<% end %>
<% end %>