<!DOCTYPE html>
<html>
  <head>
    <title>Rlc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <!-- Devise Alert/Notice, for sign up, sign up, log out, edit account, etc.-->
    <div class="XXX">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>


  </body>
</html>
